<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="image" href="./images/login_image.webp">
    <!-- Google Fonts: Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    
    <title>Student Management System</title>
    <link rel="stylesheet" href="..\styles\style.css">
</head>
<body>

    <div class="main">
        <div class="boxes">
            <form action="/login" method="post">
                <h1>Login</h1>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" autocomplete="username" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" autocomplete="current-password" required>
                
                <div class="signup-text">
                    Don't have an account? <a href="register_page.html">Sign up</a>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

</body>
</html>